/* ==== COLORS ==== */
.bg-green{
    background-color: #202d11;
}

.btn-gold{
    background-color: #fcebc2;
    border: solid #202d11;
}

.bg-gold{
    background-color: #fcebc2;
}

.gold{
    color: #fcebc2;
}

/* == Mise en forme générale == */
html{
    color: black;
    font-family: Ubuntu;
    font-size: 1rem;
}

body{
    background-color: #fcebc2;

}

h1, .navbar-brand, .navbar-brand:hover{
    color: #fcebc2;
    font-weight: bold;
    text-shadow: 1px 1px #202d11, -1px 1px #202d11, 1px -1px #202d11;
}


/* == Homepage vitrine == */
.homepage-contain-slide1 h1{
    font-size: 80px;
}

.homepage-contain-slide1{
    margin-top: 150px;
    color: #002e13;
}

#slide1 {
    background: url("/assets/images/bg-hunt.jpg") center 0 no-repeat fixed;
    height: 920px;
}


/* == NavBar == */
.header-nav{
    background-color: #202d11;
}

.navbar-brand{
    font-size: 3rem;
}

.navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}

.navbar-nav > li {
    display: inline-block;
    float:none;
    font-size: 2rem;
}

.nav-link{
    color: white!important;
}


/* == Page Accueil == */

.img-chairman{
    height: 230px;
    width: 230px;
}

.img-joinUs{
    height: 180px;
    width: 200px;
    border-radius: 50%;
}


.img-article {
    width: 500px;
    height: 300px;
    float: left;
    margin-right: 10px;
}

