/* == Mise en forme générale == */
body{
    color: black;
    font-family: Ubuntu;
    background: url("https://wallpapertag.com/wallpaper/full/e/2/f/143523-light-brown-background-2880x1800-for-1080p.jpg");
    background-size: cover;
}

h1, .navbar-brand{
    text-shadow: 2px 2px rgb(181, 107, 42), -2px 2px rgb(181, 107, 42), 2px -2px rgb(181, 107, 42);
    color: white;
    border-radius: 25px;
}

/* == Homepage vitrine == */
.homepage-contain-slide1 h1{
    font-size: 70px;
}

.homepage-contain-slide1{
    margin-top: 150px;
    color: #002e13;
}

.homepage-contain-slide2 {
    margin-top: 250px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50% 20% / 10% 40%;
}

.homepage-contain-slide3{
    margin-top: 250px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50% 20% / 10% 40%;
}

.homepage-contain-slide3 a{
    font-size: 30px;
    color: white;
}

.homepage-contain-slide1{
    margin-top: 150px;
    color: #002e13;
}

#slide1 {
    background: url("/assets/images/bg-hunt.jpg") center 0 no-repeat fixed;
    height: 1000px;
}

#slide2 {
    background: url("/assets/images/bg-river.jpg") center 0 no-repeat fixed;
    height: 1000px;
    color: white;
}

/* == NavBar == */
.header-nav{
    background-color: rgba(229, 193, 179, 0.6);
}

.navbar-brand{
    font-size: 30px;
    color: white!important;

}

.dropdown-item{
    color: black!important;
}

.img-header{
    height: 100px;
    width: 100px;
}

/* == Page Accueil == */
.contain-home{
    background-color: rgba(229, 193, 179, 0.2);
    border-radius: 25px;
}

.img-chairman{
    height: 230px;
    width: 230px;
    border-radius: 50%;
}


.img-article {
    width: 500px;
    height: 300px;
    float: left;
    margin-right: 10px;
}

