/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
.idea/

/web/uploaded_files/pictures_articles/*
!/web/uploaded_files/pictures_articles/.gitkeep
/web/uploaded_files/pictures_profil/*
!/web/uploaded_files/pictures_profil/.gitkeep
/web/uploaded_files/galery/*
!/web/uploaded_files/galery/.gitkeep
/web/uploaded_files/thematics_image_gallery/*
!/web/uploaded_files/thematics_image_gallery/.gitkeep

/private/files/*
!/private/files/.gitkeep
/private/sharedFiles/*
!/private/sharedFiles/.gitkeep

/TODO
