{% extends 'baseAdmin.html.twig' %}

{% block titleDashboard %}
    <h2>Liste des articles publiés</h2>
{% endblock %}

{% block body %}

    <table class="table">
        <thead class="thead-dark ">
            <tr>
                <th class="text-center">Prénom</th>
                <th class="text-center">Nom</th>
                <th class="text-center">Titre</th>
                <th class="text-center">Date de publication</th>
                <th class="text-center">Action</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td class="text-center">{{ article.user.firstName }}</td>
                <td class="text-center">{{ article.user.lastName }}</td>
                <td class="text-center">{{ article.title }} </td>
                <td class="text-center">#</td>

                <td class="text-center">
                    <a class="btn btn-info" href="{{ path('admin_show_article', {id:article.id}) }}">Voir</a>
                    <a class="btn btn-danger alert-delete" href="#"
                       data-confirm-message="Confirmer la suppression de l'article?">Supprimer</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-primary mb-5" href="#">Ajouter un article</a>

{% endblock %}
