{% extends 'baseAdmin.html.twig' %}

{% block titleDashboard %}
    <h2>Liste des articles publiés</h2>
{% endblock %}

{% block body %}
    <table class="table">
        <thead class="thead-dark ">
            <tr>
                <th scope="col">Prénom</th>
                <th scope="col">Nom</th>
                <th scope="col">Titre</th>
                <th scope="col">Date de publication</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.user.firstName }}</td>
                <td>{{ article.user.lastName }}</td>
                <td>{{ article.title }} </td>
                <td>#</td>

                <td>
                    <a class="btn btn-info" href="{{ path('admin_show_article', {id:article.id}) }}">Voir</a>
                    <a class="btn btn-danger" href="#">Supprimer</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-primary mb-5" href="#">Ajouter un article</a>

{% endblock %}
