{% extends 'baseAdmin.html.twig' %}

{% block titleDashboard %}
    <h2>Visualisation de l'article</h2>
{% endblock %}

{% block body %}

    {% include 'front/article.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}


