{% extends 'baseAdmin.html.twig' %}

{% block titleDashboard %}
    <h2>Voir vos galeries</h2>
{% endblock %}
{% block body %}
    <div class="row center-block text-center mb-3">
        <a class="btn btn-warning mt-2" href="{{ path('add_images', {id:folder.id}) }}">Ajouter des images à cet
            album</a>
    </div>
    {% for image in images %}
        <div class="col-md-3 mb-4 text-center">
            <img class="img-thumbnail" src="/{{ folder.path }}{{ image }}">
            <a class="btn btn-danger mt-2" href="{{ path('delete_images_gallery', {image:image, id:folder.id}) }}">Supprimer</a>
        </div>
    {% endfor %}
{% endblock %}



