{% extends 'baseAdmin.html.twig' %}

{% block titleDashboard %}
    <h2>Voir vos galeries</h2>
{% endblock %}
{% block body %}
    {% if folders %}
        {% for folder in folders %}
            <div class="col-md-3 offset-md-1">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/images/chien.jpg" alt="Card image cap">
                    <div class="card-body text-center">
                        <h4 class="card-title">{{ folder.name }}</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="{{ path('show_images_gallery', {id:folder.id}) }}" class="btn btn-primary">Voir l'album</a>
                        <a href="{{ path('delete_folder_gallery', {id:folder.id}) }}" class="btn btn-danger">Supprimer</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="col-md-2 offset-md-5 text-center">
            <h4 class="mt-5">Aucun album photo</h4>
            <a class="btn btn-warning mt-5 mb-3" href="{{ path('add_folder') }}">Créer un album</a>
        </div>
    {% endif %}
{% endblock %}



