{% extends 'baseAdmin.html.twig' %}

{% block titleDashboard %}
    <h2>Visualisation de l'article</h2>
{% endblock %}

{% block body %}

    {% include 'front/article.html.twig' %}
            </div>
        </div>
    </div>
    <a class="btn btn-primary mt-5" href="{{ path('admin_articles') }}">Retour</a>

{% endblock %}


