{% extends 'base.html.twig' %}

{% block body %}
    <div class="container pt-5 pb-5" align="center">
        <div class="card">
            <h1 class="card-header bg-green">Modifier votre article</h1>
            <div class="row card-body pt-5 pb-5">
                <div class="col-md-12 text-center">
                    {{ form_start(edit_form) }}
                    <p>{{ form_widget(edit_form.title) }}</p>
                    <p>{{ form_widget(edit_form.article) }}</p>

                    <input class="btn btn-primary bg-green" type="submit" value="Enregistrer" />
                    {{ form_end(edit_form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
