{% extends 'base.html.twig' %}

{% block body %}

    <div class="container contain-home p-3" align="center">
        <div class="row">
            <div class="col-md-12 text-center">
                {{ form_start(form) }}
                {{ form_widget(form) }}

                <div class="mt-5">
                    <input class="btn btn-dark" type="submit" value="Enregistrer"/>
                    {% if app.request.query.get("admin") == 1 %}
                        <a class="btn btn-primary" href="{{ path('admin_articles') }}">Retour</a>
                    {% endif %}
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
