{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1>Espace membre</h1>
        </div>
        <div class="row">
            <a class="btn btn-darkg" href="{{ path('blog_home') }}">Vos articles</a>
        </div>
    </div>

{% endblock %}


