<!-- Footer -->
<footer class="page-footer font-small blue navbar-default">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
        Fédération des Gardes Particuliers du Rhône
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->
