
    <p>Bonne journée!</p>
    <p>Cordialement,</p>
    <p>Fédération des Gardes Particuliers du Rhône</p>
    <small><i>Pour toute question ou renseignement, vous pouvez nous contacter via le site ou par mail : mail@mail.com </i></small>
