{% block content %}
    <p>Bonjour {{ user.firstName|capitalize }} {{ user.lastName|capitalize }},</p>
    <p>Vous avez demandé(e) la modification de votre mot de passe sur le site de la Fédération des Gardes Particuliers du Rhône. Pour finaliser votre demande, merci de cliquer sur le lien suivant :</p>
    <p><a href="{{ url('update_password', { 'slug': user.token }) }}">Modification de votre mot de passe</a></p>
    <p>Ou copier dans votre navigateur l'adresse suivante:
    <br/>{{ url('update_password', { 'slug': user.token }) }}</p>
    <p>Cordialement,</p>
    <p>Fédération des Gardes Particuliers du Rhône</p>
    <p><i>(Ceci est un mail automatique, merci de ne pas répondre. Si vous souhaitez nous contacter vous pouvez le faire directement sur la plateforme)</i></p>
{% endblock %}
