{% block content %}
    <p>Bonjour {{ user.firstName|capitalize }} {{ user.lastName|capitalize }},</p>
    <p>Vous avez demandé(e) la modification de votre mot de passe sur le site mafoncière. Pour finaliser votre demande, merci de cliquer sur le lien suivant :</p>
    <p><a href="{{ url('updatePassword', { 'slug': user.token }) }}">Modification de mon mot de passe mafoncière</a></p>
    <p>Ou copier dans votre navigateur l'adresse suivante:
    <br />{{ url('updatePassword', { 'slug': user.token }) }}</p>
    <p>Merci pour votre confiance,</p>
    <p>Cordialement,</p>
    <p>L'équipe mafoncière</p>
{% endblock %}