{% block content %}
    <strong>Bienvenue !</strong><br>
    <p>Votre compte à bien été créé, pour continuer, veuillez créer votre mot de passe afin de confirmation
        l'inscription
        <a href="{{ url('registrationConfirmation', {'slug': user.token }) }}">cliquer ici</a>.</p>
    <p>Bonne journée!</p>
    <p><i>(Ceci est un mail automatique, merci de ne pas répondre. Si vous souhaitez nous contacter vous pouvez le faire directement sur la plateforme)</i></p>
{% endblock %}
