{% extends 'base.html.twig' %}

{% block body %}
    <div class="container contain-home mt-5 p-3">
        <div class="row">
            <div class="col-md-6 offset-md-3 text-center mb-3">
                <h1>Nos actualités</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 text-center">
                <img class="img-chairman" src="https://cdn.emojidex.com/emoji/seal/%EF%BC%9F.png?1417137872">
            </div>
            <div class="col-md-8 ">
                {% if articles %}
                    {% for article in articles %}
                        <h5><img src="/assets/images/article.png"><a href="{{ path('actuality') }}/{{ article.id }}"> {{ article.title }}</a></h5>
                    {% endfor %}
                {% else %}
                    <p>Pas d'articles publiés</p>
                {% endif %}
            </div>
        </div>
    </div>


{% endblock %}


