{% extends 'base.html.twig' %}

{% block body %}
    {% if articles %}
        {% for article in articles %}
        <a href="{{ path('actuality') }}/{{ article.id }}">{{ article.title }}</a>
        {% endfor %}
    {% else %}
        <p>Pas d'articles publiés</p>
    {% endif %}
{% endblock %}


