{% extends 'base.html.twig' %}

{% block body %}

    {% include 'front/article.html.twig' %}

            {% if app.user %}
                <div class="row">
                    <div class="col-md-8 offset-md-2 text-center">
                        {{ form_start(form) }}
                        {{ form_widget(form) }}

                        <input type="submit" value="Enregistrer"/>
                        {{ form_end(form) }}
                    </div>
                </div>
            {% endif %}
            </div>
        </div>
    </div>
{% endblock %}



