{% extends 'base.html.twig' %}

{% block body %}

    <div class="container pt-5 pb-5" align="center">
        <div class="card">
            <h1 class="card-header bg-green">Mot de passe oublié</h1>
            <div class="row">
                <div class="col-md-8 offset-md-2 card-body pt-5 pb-5">
                    <p>1: Renseignez votre email et vérifiez votre boîte de réception.</p>
                    <p>2: Cliquez sur le lien transmis pour définir ensuite un nouveau mot de passe.</p>
                    {{ form_start(form) }}
                    <div class="row mt-5 mb-3">
                        <div class="col-md-8 offset-md-2">
                            {{ form_widget(form.email) }}
                            <small class="form-text text-muted mb-2">Nous ne partagerons jamais votre email avec
                                quelqu'un d'autre.
                            </small>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-dark mt-2 bg-green">Envoyer</button>
                    </div>
                    <small class="form-text mt-4"><a href="{{ path('login') }}">Retour à la connexion</a></small>
                </div>
            </div>
            {{ form_end(form) }}

        </div>
    </div>
{% endblock %}
