{% extends 'base.html.twig' %}

{% block body %}
<div class="container contain-home p-3">
    <div class="row">
        <div class="col-md-6 offset-md-3 text-center mb-3">
        {{ form_start(form) }}
            <button type="submit">S'inscrire</button>
        {{ form_end(form) }}


        </div>
    </div>
</div>

{% endblock %}
